<h3> Please be patient as we fill out our inventory.</h3>

<ul>
<% @items.each do |item| %>
	<li>
		<a href="items/<%= item.id %>">
			<span><strong> <%= item.category %> </strong>- </span>
			<span> <%= item.name %> - </span>	
			<span>$<%= item.price %> </span>
		</a>	
	</li>
<body>





<% end %>	
	<table>
		<% @items.each do |item| %>
		<tr>

			<td><%= item.category %> </td>
			<td><%= item.name %> </td>	
			<td>$<%= item.price %> </td>
			<td><a href="items/<%= item.id %>"> See Details</a></td>	
			</tr>
		</style>
		<% end %>	
	</table>


</ul>

